body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border-top: 1px solid rgb(30,87,134);
}

a {
  color: rgb(106,170,222);
}

.fancy {
  font-family: 'Bodoni Moda Variable', sans-serif;
  font-style: italic;
  font-size: 1.5em;
  font-weight: 550;
  color: rgb(30,87,134);
}

#container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}

#header {
  display: flex;
}

#header .left, #header .right {
  flex: 1;
}

#header .logo {
  display: flex;
  align-items: center;
  font-family: 'Bodoni Moda Variable', sans-serif;
  font-style: italic;
  font-size: 2.5em;
  font-weight: 600;
  color: rgb(30,87,134);
}

#header a {
  color: rgb(30,87,134);
  text-decoration: none;
}

#content {
  padding: 0px 20px 20px 20px;
  text-align: center;
}

#content h2 {
  font-family: 'Bodoni Moda Variable', sans-serif;
  font-style: italic;
  font-size: 2em;
  font-weight: 550;
  border-bottom: 1px solid rgb(30,87,134);
  padding-bottom: 15px;
  margin: 15px 0px;
}

#content hr{
  width:100%;
}

#content .button{
  font-family: 'Bodoni Moda Variable', sans-serif;
  background-color: rgb(30,87,134);
  font-style: italic;
  font-size: 1.5em;
  font-weight: 550;
  color: white;
  display: inline-block;
  padding: 10px 50px;
  border: none;
}

.menu, #content {
  font-family: 'Montserrat Variable', sans-serif;
  font-size: 1em;
  font-weight: 550;
  color: rgb(30,87,134);
}

#home img#us {
  width:100%;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

ul.pad-bottom-items>li {
  margin-bottom: 20px;
}
ul.pad-bottom-items-small>li {
  margin-bottom: 5px;
}

#rsvp ul {
  margin: 10px auto;
  max-width:600px;
  padding: 20px 12px 10px 20px;
}
#rsvp li {
  padding: 0;
  margin: 10px 0 0 0;
}
#rsvp label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
}

#rsvp .radio-flex {
  display: flex
}

#rsvp .radio-flex>input,
#rsvp .radio-flex>label {
  margin: 0 0 5px 15px;
}

#rsvp label {
  text-align: left;
}

#rsvp .required{
  color:red;
}

#rsvp input[type=text], 
#rsvp input[type=date],
#rsvp input[type=datetime],
#rsvp input[type=number],
#rsvp input[type=search],
#rsvp input[type=time],
#rsvp input[type=url],
#rsvp input[type=email],
textarea, 
select{
  width:100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;  
}

#rsvp input[type=text]:focus, 
#rsvp input[type=date]:focus,
#rsvp input[type=datetime]:focus,
#rsvp input[type=number]:focus,
#rsvp input[type=search]:focus,
#rsvp input[type=time]:focus,
#rsvp input[type=url]:focus,
#rsvp input[type=email]:focus,
#rsvp textarea:focus, 
#rsvp select:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
